<app-global-menu></app-global-menu>


<div class="container">



  <div style="margin-top:2px">
    <p *ngIf="api_result.length != data_count">Initializing Contents ... {{
      getCompletionPercent(api_result.length,data_count) }}%</p>
    <!--Various Options Goes here-->
    <div>
      <div class="row">
        <!--File Upload Option-->
        <div class="col-sm-6">

          <input *ngIf="file_to_upload === null" type="file" (change)="onFileSelected($event)" accept=".json, .csv, .gml, .kml">
          <p *ngIf="file_to_upload != null">Current file: {{file_to_upload.name}} <button class="btn btn-link" (click)="reload()">Change
              File</button></p>
        </div>



        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Match by...</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item" (click)="changeMatchOption('Name')">Name</button>
              <button class="dropdown-item" (click)="changeMatchOption('Code')">Code</button>
              <button class="dropdown-item" (click)="changeMatchOption('UID')">UID</button>
            </div>
          </div>
        </div>

        <div class="col">
          <label class='match-option' *ngIf="match_option">
            Matching scheme:
            {{ match_option }}
          </label>
        </div>

      </div>
      <br>
      <!--app-matcher [file_contents]="file_contents" [api_result]="api_result" [match_scheme]="match_option"
        [match_results]="match_results"></app-matcher-->
    </div>
  </div>






  <!--Table Of Results-->
  <!--Could not load API Results-->
  <div *ngIf="api_result == null" style="text-align: center">
    <p>Failed to load contents from the server, <br>this may be due to Internet connection issues!</p>
  </div>

  <!--API Result has been succefully returned-->
  <div *ngIf=" api_result !== null ">
    <!--Geo Spatial file is not yet chosen-->
    <div *ngIf="file_contents == null">
      <p style="text-align: center">
        No Geospatial file chosen, <br>Please Choose a file with these extensions
        .json, .csv, .gml, or .kml
      </p>
    </div>
    <!--Geospatial file has been chosen-->
    <div class="row" *ngIf="file_contents !== null">
      <div class="col-sm-8">
        <label style="font-weight: bold">
          Matching Summary
        </label>
        <br>
        <div class="row">
          <div class="col-sm-4">
            <label>
              Total: <span class="badge badge-info">{{ file_contents.features.length}}</span>
            </label>
          </div>
          <div class="col-sm-4">
            <label>
              Matched: <span class="badge badge-success"> {{ getResultsSummary(match_results).found}}</span>
            </label>

          </div>
          <div class="col-sm-4">

            <label>
              Not Matched: <span class="badge badge-danger">{{ getResultsSummary(match_results).not_found}}</span>
            </label>
          </div>
        </div>



        <table class="table table-bordered">
          <tr>
            <th>SN</th>
            <th>Target Name</th>
            <th>Matches</th>
          </tr>
          <tr *ngFor=" let result of match_results | paginate: {itemsPerPage: 50, currentPage: p }; let i = index ">
            <td> {{ i + 1 }}</td>

            <td> {{result.feature.properties.name}} </td>

            <td>


              <label *ngIf="result.match_result == null" title="Nothing to View">
                <button class="btn btn-outline-link"> Found <span class="badge badge-danger">0</span></button>
              </label>
              <div>

                <div ngbDropdown class="" *ngIf="result.match_result" title="Click to View">
                  <button class="btn btn-outline-link" id="dropdownBasic1" ngbDropdownToggle>Found <span class="badge badge-success">{{result.match_result.length}}</span></button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button class="dropdown-item" *ngFor="let res of result.match_result">
                      <p>
                        {{ res.item.displayName}} | {{ to2Dp((1- res.score) * 100)}}%
                      </p>
                    </button>
                  </div>
                </div>

              </div>


            </td>
          </tr>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
      <div class="col-sm-4" style="border: 0.5px solid gray; margin-top: 52px">
        <h3>[For Map]</h3>
      </div>
    </div>
  </div>

</div>