.org-unit-child li{
    border-bottom: 0.1px solid lavender;
    height: 40px;
    list-style: none;
    cursor: pointer;
    font-size: 0.8em
}

table{
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

html,
table,
label,
ngb-alert, 
input,
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.899em
}
