.search-box{
    background: url('../../assets/images/ic-search.png')
}

html,
table,
label, 
input,
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.899em
}

.child-row{
    background-color: #FAFAFA;
     border-radius: 10px
}

table tbody tr{
  
}
