<div>
  <label> Loaded Organisation Units: <label class="badge badge-info">{{appService.getOrganisationUnitsCount()}}
      <sup *ngIf="appService.getLoadProgress() < 1">{{'/'+appService.dataCount}}</sup></label>
    &nbsp;
    <b>|</b>
    &nbsp;
    <label style="font-family: Verdana, Geneva, Tahoma, sans-serif">Displaying <span class="badge badge-info">{{
        search('NAME',
        search('CODE',
        search('SHORT_NAME',
        search('LEVEL',appService.getOrganisationUnits())))).length}}</span>
      Records out of <span class="badge badge-info">{{appService.getOrganisationUnitsCount()}} </span> Records
    </label>
  </label>
  <p *ngIf="appService.getLoadProgress() < 1">
    <ngb-progressbar showValue="true" type="success" [value]="appService.getLoadProgress() * 100"></ngb-progressbar>
  </p>
  <div class="card">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Short Name</th>
          <th>Level</th>
          <th>Children</th>
        </tr>
        <!--For Seaching-->
        <tr>
          <td>
            <input type="text" placeholder="Type Organisation Unit Code..." class="form-control search-box" [value]="_search_keyword_code"
              (input)="updateCodeInput($event)">
          </td>
          <td>
            <input type="text" placeholder="Type Organisation Unit Name..." class="form-control search-box" [value]="_search_keyword_name"
              (input)="updateNameInput($event)">
          </td>
          <td>
            <input type="text" placeholder="Type Organisation Unit Short Name..." class="form-control search-box"
              [value]="_search_keyword_short_name" (input)="updateShortNameInput($event)">
          </td>
          <td>
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-light" style="opacity: 0.4" id="dropdownBasic1" ngbDropdownToggle>{{_search_keyword_level}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button *ngIf="_search_keyword_level != 'All'" class="dropdown-item" (click)="updateLevelInput('All')">All</button>
                <button *ngIf="_search_keyword_level != 'Country'" class="dropdown-item" (click)="updateLevelInput('Country')">Country</button>
                <button *ngIf="_search_keyword_level != 'Region'" class="dropdown-item" (click)="updateLevelInput('Region')">Region</button>
                <button *ngIf="_search_keyword_level != 'Council'" class="dropdown-item" (click)="updateLevelInput('Council')">Council</button>
                <button *ngIf="_search_keyword_level != 'Facility'" class="dropdown-item" (click)="updateLevelInput('Facility')">Facility</button>
              </div>
            </div>
          </td>
          <td>

          </td>
        </tr>
      </thead>

      <tbody *ngFor="let organisationUnit of search('NAME',
      search('CODE',
      search('SHORT_NAME',
      search('LEVEL',appService.getOrganisationUnits())
      )
      )) 
      | paginate: {itemsPerPage: 20, currentPage: p }">
        <tr>
          <td>
            {{ organisationUnit.code}}
          </td>
          <td>
            {{ organisationUnit.name}}
          </td>
          <td>
            {{organisationUnit.shortName}}
          </td>
          <td>
            {{appService.getOrganisationUnitLevelName(organisationUnit.level)}}
          </td>
          <td>
            <span *ngIf="organisationUnit.level < 4">
              <!--{{organisationUnit.children.length}}-->
              <i class='fa fa-plus-square' placement="bottom" ngbTooltip="{{getChildrenString(organisationUnit)}}"
                (click)="appService.getChildren(organisationUnit.id); appService.updateChildrenDisplay(organisationUnit.id,$event)"></i>
            </span>

            <label *ngIf="organisationUnit.level == 4" placement="bottom" ngbTooltip="No Children to show">
              <i class="fa fa-minus-square"></i>
            </label>
          </td>
        </tr>
        <!--Children First Drill-->
        <ng-container *ngFor="let child of appService.getChildren(organisationUnit.id)">
          <tr style="background-color: lavender; border-radius: 10px" class="{{organisationUnit.id}}" hidden>

            <td>{{child.code}}</td>
            <td>{{child.name}}</td>
            <td>{{child.shortName}}</td>
            <td>{{appService.getOrganisationUnitLevelName(child.level)}}</td>
            <td>
              <span *ngIf="child.level < 4">
                <!--{{organisationUnit.children.length}}-->
                <i class='fa fa-plus-square' placement="bottom" ngbTooltip="{{getChildrenString(child)}}" (click)="appService.getChildren(child.id); appService.updateChildrenDisplay(child.id,$event)"></i>
              </span>
              <label *ngIf="child.level == 4" placement="bottom" ngbTooltip="No Children to show">
                <i class="fa fa-minus-square"></i>
              </label>
            </td>
          </tr>
          <!--Children Second Drill-->
          <ng-container *ngIf="child.level < 4">
            <ng-container *ngFor="let subChild of appService.getChildren(child.id)">
              <tr style="background:gray" class="{{child.id}}" hidden>
                <td>{{subChild.code}}</td>
                <td>{{subChild.name}}</td>
                <td>{{subChild.shortName}}</td>
                <td>{{appService.getOrganisationUnitLevelName(subChild.level)}}</td>
                <td>
                  <span *ngIf="subChild.level < 4">
                    <!--{{organisationUnit.children.length}}-->
                    <i class='fa fa-plus-square' placement="bottom" ngbTooltip="{{getChildrenString(subChild)}}"
                      (click)="appService.getChildren(subChild.id); appService.updateChildrenDisplay(subChild.id,$event)"></i>
                  </span>
                  <label *ngIf="subChild.level == 4" placement="bottom" ngbTooltip="No Children to show">
                    <i class="fa fa-minus-square"></i>
                  </label>
                </td>
              </tr>

              <!--Children Third Drill-->
              <ng-container *ngIf="subChild.level < 4">
                <ng-container *ngFor="let thirdChild of appService.getChildren(subChild.id)">
                  <tr style="background: orange" class="{{subChild.id}}" hidden>
                    <td>{{thirdChild.code}}</td>
                    <td>{{thirdChild.name}}</td>
                    <td>{{thirdChild.shortName}}</td>
                    <td>{{appService.getOrganisationUnitLevelName(thirdChild.level)}}</td>
                    <td>
                      <span *ngIf="thirdChild.level < 4">
                        <!--{{organisationUnit.children.length}}-->
                        <i class='fa fa-plus-square' placement="bottom" ngbTooltip="{{getChildrenString(thirdChild)}}"
                          (click)="appService.getChildren(thirdChild.id); appService.updateChildrenDisplay(third.id,$event)"></i>
                      </span>
                      <label *ngIf="thirdChild.level == 4" placement="bottom" ngbTooltip="No Children to show">
                        <i class="fa fa-minus-square"></i>
                      </label>
                    </td>
                  </tr>
                </ng-container>
              </ng-container>

            </ng-container>


          </ng-container>
        </ng-container>
      </tbody>



    </table>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>


<ng-template #content let-modal style="margin-top: 200px">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      ...............................................
      ...............................................
      ...............................................
      ...............................................
      ...............................................
      ...............................................
      ...............................................
    </p>
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>