table{
    font-family: Verdana, Geneva, Tahoma, 
}

ngb-alert
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.899em
}


html,
table, 
input,
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.899em;
}
