<div class="section-contents">
  <div>
    <input type="file" id="input-file-upload" (change)="uploadFile($event)" accept=".json" hidden />
    <img src="assets/icons/upload.png" alt="" srcset="" class="icon" (click)="openFileChooser($event)" (mouseover)="showDesc()"
      (mouseout)="hideDesc()" ngbTooltip="Upload file">
    &nbsp;
    <span id="supported-formats-prompt" class="prompt" hidden>
      Supported Formats [.json]
    </span>
    <span *ngIf="loaded$ | async" id="selected-file-name" class="prompt">{{(file$|async).fileName}}</span>
  </div>
  <div *ngIf="!(failed$|async)">
    <!--Json Editor-->
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <json-editor [options]="jsonEditorOptions" [data]="(file$ | async).fileContents" class="json-editor"></json-editor>
      </div>
    </div>
  </div>
  <div *ngIf="failed$ | async">
    <app-error [errorMessage]="errorMessage$ | async"></app-error>
  </div>
</div>