<!--Global Menu Section-->
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <app-global-menu></app-global-menu>
        </div>
    </div>
</div>
<!--End: Global Menu Section-->

<br>
<br>

<div class="app-container">
    <!--App Title-->
    <h5 class="app-title" style="font-weight: bold; margin-top: 5px;">{{title}}</h5>

    <hr>
    <div class="row">
        <div class="col">
            <!--File Uploader Widget-->
            <app-file-uploader></app-file-uploader>
            <!--End File Uploader Widget-->
        </div>
    </div>

    <br>


    <div class="row">
        <!--Side Menu-->
        <div class="col-sm-12 col-md-4 col-lg-2">
            <app-side-menu></app-side-menu>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-10">
            <div class="row">
                <!--File Contents-->
                <div class="col">
                    <router-outlet></router-outlet>
                
                </div>
                <!--Map Section-->
                <!--div class="col">
                    <div class="map">
                        <app-map></app-map>
                    </div>
                </div-->
            </div>
        </div>
    </div>
</div>







<!--



<br>
<br>

<div style="margin-left: 50px; margin-right: 50px">
    <div class="row gird-container-top">
        <div class="col-lg-12 col-md-12 col-sm-12 grid-section ">

            <div class="grid-section-child" id="top-left">
         

                <div [ngWidgetContainer]="{'resizeable': false, 'margins': [5, 10]}">
                    <div *ngFor="let widget of widgets" [(ngWidget)]="widget.config">
                        <div class="title">{{widget.title}}</div>
                        <p>{{widget.text}}</p>
                    </div>
                </div>

              
            </div>
        </div>
    </div>
    <div class="row gird-container-bottom">
        <div class="col-lg-6 col-md-6 col-sm-12 grid-section">

            <div class="grid-section-child" id="bottom-left">

                <table class="table table-bordered" id="match-results">
                    <tr>
                        <th>SNO</th>
                        <th>Name</th>
                        <th>Level</th>
                        <th>Feature Type</th>
                        <th>Matches</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Baoma</td>
                        <td>Region</td>
                        <td>Polygon</td>
                        <td>Found <span class="badge badge-success">77</span></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Badjia</td>
                        <td>Region</td>
                        <td>Polygon</td>
                        <td>Found <span class="badge badge-success">28</span></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Badjia</td>
                        <td>Region</td>
                        <td>Polygon</td>
                        <td>Found <span class="badge badge-success">30</span></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Badjia</td>
                        <td>Region</td>
                        <td>Polygon</td>
                        <td>Found <span class="badge badge-success">43</span></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Badjia</td>
                        <td>Region</td>
                        <td>Polygon</td>
                        <td>Found <span class="badge badge-success">10</span></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Badjia</td>
                        <td>Region</td>
                        <td>Polygon</td>
                        <td>Found <span class="badge badge-success">18</span></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Badjia</td>
                        <td>Region</td>
                        <td>Polygon</td>
                        <td>Found <span class="badge badge-success">17</span></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Badjia</td>
                        <td>Region</td>
                        <td>Polygon</td>
                        <td>Found <span class="badge badge-success">17</span></td>
                    </tr>
                </table>

            </div>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 grid-section">

            <div class="grid-section-child card">
                <img src="./assets/images/gis.jpg" alt="" style="height: 100%; width: 100%" />
            </div>

        </div>
    </div-->



<!--app-matcher></app-matcher-->
<!--/div-->