<div style="margin-top: 70px">
  <h1 style="font-size: 40px; text-align: center">GIS Import Export</h1>
</div>

<div style="margin-left: 20px; margin-right: 20px">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="card shadow" style="height: 250px; width: 100%">

      </div>
      
   <br>

    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="card shadow" style="height: 250px; width: 100%">

      </div>
    </div>
  
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="card shadow" style="height: 250px; width: 100%">

      </div>
      
   <br>

    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="card shadow" style="height: 250px; width: 100%">

      </div>
    </div>
  
  </div>
</div>

