
html,body{
    height: 100%;
}

h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.widget-container {
    background-color: #282828;
}

.app-container{
    margin-left: 1%;
    margin-right: 1%
}
table{
    font-size: 14px
}
table tr td hover:after {
    content: attr(title);
    position: absolute;
  }
