#side-menu{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#side-menu p{
    border-bottom: 0.1px solid lavender;
    height: 40px;
    padding-top: 3px;
    list-style: none;
    cursor: pointer;
    position: relative;
}

#side-menu a{
    text-decoration: none;
    color: #757575;
    font-size: 0.8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif

}

#side-menu a:hover{
    color: #212121;
    font-size: 0.9em
}




